<div fxLayout=column>
    <div>
        <h1>Buscador de héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">
        <h3>Buscador</h3>
        <mat-form-field class="">
            <mat-label>Elija un héroe</mat-label>
            <input type="text" placeholder="Elija un héroe" aria-label="Elija un héroe" matInput [(ngModel)]="termino"
                [matAutocomplete]="auto" (input)="buscando()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="opcionSeleccionada($event)">
                <mat-option *ngFor="let heroe of heroes" [value]="heroe">
                    {{ heroe.superhero }}
                </mat-option>
                <mat-option *ngIf="heroes.length === 0 && termino.trim() !== ''" value="">
                    No se encontró nada con el término {{ termino }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

<ng-container *ngIf="heroeSeleccionado; else elseTemplate">
    <div>
        <pre>{{ heroeSeleccionado | json }}</pre>
    </div>
</ng-container>
<ng-template #elseTemplate>
    <div *ngIf="termino.trim().length > 0">
        No se encontraron héroes o la búsqueda no es válida.
    </div>
</ng-template>